<hr>
<h2 align="center"> Comments </h2>
<% if current_user.present? || current_admin.present? %>
	<%= form_for([@post, Comment.new]) do |f| %>
	  <p>
	    <%= f.label :body %><br>
	    <%= f.text_area :body, placeholder: 'Write a comment', class:"form-control" %>
	  </p>
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>
<% end %>
<% @post.comments.reverse.each do |comment| %>
	<hr>
	<% if comment.user_id %>
	<h4><%= comment.body %> <br> <small>Created at <%=  %> by <%= comment.user.email %></small> </h4>
	<% if current_user.present? && comment.user_id == current_user.id %>
			<%= link_to 'Delete', [comment.post, comment], method: :delete %>
		<% end %>
	<% else %>
	<h4><%= comment.body %> <br> <small>Created at <%=  %> by <%= comment.admin.email %></small> </h4>
		<% if current_admin.present? && comment.admin_id == current_admin.id %>
			<%= link_to 'Delete', [comment.post, comment], method: :delete %>
		<% end %>
	<% end %>
<% end %>
