<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MSBC's Website</title>
  </head>

  <body>
    <div class="navbar-background">
      <nav class="navbar-fixed-top navbar-buttons">
        <div class="navbar-header"></div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "All Posts", posts_path %></li>
              <li><a href="#">Page 2</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if current_admin.present?%>
                <li><%= link_to "Create Category", new_category_path%></li>
                <li><%= link_to "New Post", new_post_path %></li>
                <li><%= link_to "Log out", destroy_admin_session_path, method: :delete%></li>
              <% else %>
                <% if current_user.present? %>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <span class=""></span> Sign Out
                    <% end %>
                  </li>
                <% else %>
                  <li><%= link_to "Sign up", new_user_registration_path%></li>
                  <li><%= link_to "Sign in", new_user_session_path %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
      </nav>
    </div>

    <% if request.env['PATH_INFO'] == root_path || request.env['PATH_INFO'] == welcome_index_path  %>
      <%= yield %>
    <% else %>
    <br><br><br><br>
    <div class="col-sm-8 main_page">
      <%= yield %>
    </div>
    <div class="col-sm-3">
      <div class="sidebar">
        <h2 align="center"><%= @wMessage.title %></h2>
        <div class="about-me sidebar_border">
          <%= markdown(@wMessage.body) %>
        </div>
        <br>
        <ul class="social-network social-circle">
          <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>

        <hr>
        <div class="affixed-sidebar" data-spy="affix" data-offset-top="420">
            <h3 align="center"><strong>Recently Updates</strong></h3>
            <div class="recently list-group sidebar_border">
              <% @posts.first(7).each do |recentPost|  %>
                <%= link_to truncate(recentPost.title.capitalize, length:50, separator:' ', omission: ' ...'), recentPost, class:"list-group-item",align:"center" %>
              <% end %>
          </div>
          <% if @categories[0] %>
          <h3 align="center"><strong>Categories</strong></h3>
            <div class="categories sidebar_border">
              <table style="width:100%">
                <% i = 0 %>
                <tr>
                  <% @categories.each do |category| %>
                    <% if i == 3 %>
                      </tr>
                      <tr>
                    <% end %>
                        <td class="list-group"><%=link_to category.name, category, class:"list-group-item" %></td>
                    <% if i == 3 %>
                      <% i = 0 %>
                    <% end %>
                    <% i+=1 %>
                  <% end %>
              </table>
            </div>
          <% end %>
        </div>
      </div>
     <div class="col-sm-2"></div>
    </div>
    <% end %>

  </body>
</html>
